:root .g_site_readnovel {
  --main-color: #FF3955;
  --color-tag-category: #F16299;
  --color-tag-state: #F69A48;
  --color-tag-chaptercount: #65B1F5; }

:root .g_site_xs8 {
  --main-color: #65C541;
  --color-tag-category: #65C541;
  --color-tag-state: #5BDDCD;
  --color-tag-chaptercount: #ADD3FB; }
